@import "~bootstrap/scss/bootstrap";

:root {
    --bs-font-sans-serif: "Calibri W01", Arial, sans-serif;
    --bs-body-font-size: 1.125rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6;
    --bs-body-color: #1c1c1c;
    --bs-body-bg: #ffffff;
}

::selection {
    background-color: #abda7a;
}

container {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Century Gothic W01", "Open Sans", sans-serif;
    font-weight: 700;
    color: #1B3D6D;
}

h2,
h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

header {
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
        padding-left: 100px;
    }
}

main {
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
        padding-left: 100px;
        padding-right: 100px;
    }
}

body {
    position: relative;

    @include media-breakpoint-up(lg) {
        background-image: none;
    }

    .img-right-top-mobile {
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.left {
    position: relative;

    @include media-breakpoint-up(lg) {
        padding-left: 30px;
    }

    .listing {
        margin-top: 50px;
        margin-bottom: 50px;

        @include media-breakpoint-up(lg) {
            margin-top: unset;
            margin-bottom: unset;
        }

        .img-ipad {
            margin-bottom: 50px;

            @include media-breakpoint-up(lg) {
                margin-bottom: unset;
            }
        }
    }
}

.right {
    background-color: #1B3D6D;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(lg) {
        background-image: none;
    }

    .the-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .the-form {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: #F5F5F5;
            border-radius: 10px;

            padding-top: 30px;
            padding-right: 20px;
            padding-bottom: 15px;
            padding-left: 20px;

            margin-top: 100px;
            margin-bottom: 100px;

            @include media-breakpoint-up(lg) {

                padding-top: 30px;
                padding-right: 35px;
                padding-bottom: 15px;
                padding-left: 35px;

                margin-top: unset;
                margin-bottom: unset;
            }
        }
    }

    .img-right-bottom-mobile {
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .img-right-top-desktop {

        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            width: 168.8%;
        }
    }
}

.is-desktop .right {

    @media screen and (min-height: 600px) {
        height: calc(100vh - 58.8px);
    }
}

footer {
    position: relative;
    z-index: 3;
}

.is-mobile footer {
    display: flex;
    justify-content: center;
    background-color: #0A2246;
    color: #fff;
    width: 100%;
    padding: 15px;
}

.is-desktop footer {
    display: flex;
    justify-content: center;
    background-color: #0A2246;
    color: #fff;
    width: 100%;
    padding: 15px;
    margin-top: 30px;

    @media screen and (min-height: 500px) {
        position: relative;
        margin-top: unset;
    }

    @media screen and (min-height: 600px) {
        bottom: 0;
        position: fixed;
        margin-top: unset;
    }
}

@include media-breakpoint-up(lg) {
    span.br-before::before {
        content: "\a";
        white-space: pre;
    }

    span.br-after::after {
        content: "\a";
        white-space: pre;
    }
}